body{
    font-family: monospace;
    background: lavender;

}

header{
    Width: 70%;
    Height: 150px;
    display: flex;
    flex-direction: row;
    background: skyblue;
    flex-direction: row;
    padding: 10px;
}

main{
    width: 60%;
 
    justify-content: left;

}

header > h1{
    text-align: right;
}
img{
    width: 33.33%;
    padding: 5px;

}